@use 'sass:color';

.dorion-button {
	border-radius: var(--radius-sm);
	transition: all 0.3s;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	letter-spacing: var(--space-xsm);

	&:hover {
		cursor: pointer;
	}

	&.dark {
		color: var(--white);
		background-color: var(--gray-shade-1);
		border: 0.2rem solid var(--gray-shade-1);

		&:hover {
			color: var(--white);
			background-color: color.adjust(#474747, $lightness: -20%);
			border: 0.2rem solid color.adjust(#474747, $lightness: -20%);
		}
	}

	&.dark-outline {
		color: var(--gray-shade-1);
		background-color: transparent;
		border: 0.2rem solid var(--gray-shade-1);

		&:hover {
			color: var(--white);
			background-color: var(--gray-shade-1);
		}
	}

	&.light-outline {
		color: var(--white);
		background-color: transparent;
		border: 0.1rem solid var(--white);

		&:hover {
			color: var(--footer-content-bg-color);
			background-color: var(--white);
		}
	}
}
