.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;

	&__image {
		width: 8rem;
		height: 8rem;
		margin-bottom: 3rem;
	}

	&__title {
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	&__buttons {
		display: flex;

		:not(:last-child) {
			margin-right: 1rem;
		}
	}
}
