.hero {
	&__children {
		position: absolute;
		top: 10vh;
		width: 100%;
	}

	.corniche {
		object-fit: cover;
	}

	@media (max-width: 768px) {
		.corniche {
			z-index: -2;
			max-height: 85vh;
			width: 100vw;
		}

		&:before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			background: var(--background);
			opacity: 0.8;
			z-index: -1;
		}
	}

	@media (max-width: 580px) {
		&__children {
			top: 5vh;
		}
	}

	@media (max-width: 475px) {
		&__children {
			top: 0;
		}
	}
}
