.press-article {
	margin: 3rem 0;

	&__button {
		display: flex;
		align-items: center;
		border: none;
		background-color: transparent;
		margin-bottom: 2rem;

		&:hover {
			cursor: pointer;
		}
	}

	&__icon-container {
		width: 3rem;
	}

	&__icon {
		transition: all 0.5s ease;

		&--rotate {
			transform: rotate(180deg);
		}
	}

	&__title {
		color: var(--text-color);
		text-transform: uppercase;
		text-align: left;
	}

	&__content {
		transition: max-height 0.5s ease;
		overflow: hidden;

		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 1rem;
		}
	}
}
