.scroll-top {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	z-index: 150;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	border: 0.1rem solid #cdcdcd;

	svg {
		color: #cdcdcd;
	}

	&:hover {
		border: 0.1rem solid darken(#cdcdcd, 20%);
		svg {
			color: darken(#cdcdcd, 20%);
		}
	}
}
