@use 'sass:color';

.scroll-top {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	z-index: 150;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	border: 0.1rem solid #cdcdcd;
	cursor: pointer;

	svg {
		color: #cdcdcd;
		width: 50%;
		height: 50%;
	}

	&:hover {
		border: 0.1rem solid color.adjust(#cdcdcd, $lightness: -20%);
		svg {
			color: color.adjust(#cdcdcd, $lightness: -20%);
		}
	}
}
