.search {
	position: absolute;
	top: 50px;
	left: var(--padding-x);
	width: 300px;
	height: 50px;

	&__inner {
		width: 300px;
		vertical-align: middle;
		white-space: nowrap;
		position: relative;

		&:hover {
			.search__input {
				width: 300px;
			}
		}
	}

	&__input {
		width: 50px;
		height: 50px;
		background: var(--white);
		border: 1px solid #262626;
		font-size: 16px;
		color: #262626;
		padding-left: 45px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;

		-webkit-transition: width 300ms ease;
		-moz-transition: width 300ms ease;
		-ms-transition: width 300ms ease;
		-o-transition: width 300ms ease;
		transition: width 300ms ease;

		&::-webkit-search-cancel-button {
			position: relative;
			right: 15px;
			cursor: pointer;
		}

		&:focus,
		&:active {
			outline: none;
			width: 300px;
		}
	}

	&__icon {
		position: absolute;
		width: 25px;
		height: 25px;
		margin-left: 12px;
		z-index: 1;
		color: #444343;
		top: 50%;
		transform: translateY(-50%);
	}

	@media (max-width: 1245px) {
		position: relative;
		top: 0;
		left: 0;

		.search__input {
			width: 300px;
		}
	}

	@media (max-width: 768px) {
		width: 100%;

		&__inner {
			width: 100%;

			.search__input {
				width: 100%;
			}

			&:hover {
				.search__input {
					width: 100%;
				}
			}
		}

		&__input {
			&:focus,
			&:active {
				width: 100%;
			}
		}
	}
}
